        @font-face {
            font-family: "jawi";
            src: url(font/jawi.ttf);
        }

        #main{
            font:25px "jawi";
        }
        #subText{
            font: 25px "jawi";
        }
        #thai{
            font: 12px "jawi";
        }